service: dialetus-service

frameworkVersion: '2'

plugins:
  - serverless-bundle
  - serverless-offline
  - serverless-dotenv-plugin
  - serverless-deployment-bucket
  - serverless-plugin-stage-variables

custom:
  stage: ${opt:stage, self:provider.stage}
  regionTableName: dialetus-service-region-${self:custom.stage}
  tableThroughputs:
    prod: 5
    default: 1
  tableThroughput: ${self:custom.tableThroughputs.${self:custom.stage}, self:custom.tableThroughputs.default}

provider:
  name: aws
  runtime: nodejs12.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  deploymentBucket:
    name: dialetus-service-${self:provider.stage}
  tracing:
    apiGateway: true
    lambda: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:*
        - cloudwatch:*
        - logs:*
        - dynamodb:*
        - xray:*
      Resource: '*'
  environment:
    regionTableName: ${self:custom.regionTableName}

functions:
  - ${file(src/functions/create-new-region/function.yml)}
  - ${file(src/functions/get-all-regions/function.yml)}

resources:
  - ${file(resources/api-gateway.yml)}
  - ${file(resources/region-table.yml)}

package:
  individually: true
